@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
  }

  
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.bg-blue1 { 
  background: linear-gradient(135deg, #6B73FF 0%, #000DFF 100%)
}

.bg-blue2 { 
  background: linear-gradient(135deg, #ABDCFF 0%, #0396FF 100%)
}

.bg-blue3 { 
  background: linear-gradient(127.55deg, #141E30 3.73%, #243B55 92.26%)
}

.bg-blue4 { 
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%)
}

.bg-blue5 { 
  background: linear-gradient(135deg, #97ABFF 10%, #123597 100%)
}

.bg-orange1 { 
  background: linear-gradient(135deg, #FCCF31 0%, #F55555 100%)
}

.bg-orange2 { 
  background: linear-gradient(135deg, #FFD3A5 0%, #FD6585 100%)
}

.bg-orange3 { 
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%)
}

.bg-purple1 { 
  background: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%)
}

.bg-purple3 { 
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%)
}

.bg-pink1 { 
  background: linear-gradient(135deg, #F6CEEC 0%, #D939CD 100%)
}

.bg-pink2 { 
  background: linear-gradient(135deg, #F761A1 0%, #8C1BAB 100%)
}

.bg-green1 { 
  background: linear-gradient(135deg, #FFF720 0%, #3CD500 100%)
}

.bg-green2 { 
  background: linear-gradient(to bottom, #00b09b, #96c93d)
}

.bg-black1 { 
  background: linear-gradient(100.66deg, #434343 6.56%, #000000 93.57%)
}

.bg-black2 { 
  background: linear-gradient(60deg, #29323c 0%, #485563 100%)
}